{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {{Constants.data.config.title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href={% static "css/iat.css" %} />
{% endblock %}

{% block scripts %}
  <script src={% static "js/iat.js" %}></script>
  <script>
    var data = {{Constants.data|safe}};
    IAT.begin(data)
       .then(function(queue) {
         console.log(queue);
       })
  </script>
{% endblock %}

{% block content %}

    <input type="text" name="iat_results" />

    <main id="iat_test">
      <div class="row">
        <div class="category left col-md-4">LEFT</div>
        <div class="stimuli col-md-4">stimuli</div>
        <div class="category right col-md-4">RIGHT</div>
      </div>
      <div class="wrong-answer">✕</div>
    </main>

    {% next_button %}

{% endblock %}
